doctype html
html
    head
        title my Jade template
    body
        h1 Hello World
        #content
            .block
                input#bar.foo1.foo2
    ul#books
        li
            a(href="#book-a") Book A
        li
            a(href="#book-b") Book B